<div class="content_block">
  <h2>Сайт с нуля</h2>
  <h3 class="common_text">Вопрос 4/17</h3>

  <div class="text_inputs_wrap">
    <input type="text" name="" id="" placeholder="Сфера деятельности">
  </div>
  <div class="text_inputs_wrap">
    <input type="text" name="" id="" placeholder="Сфера деятельности">
  </div>

  <label class="radio-button">
    <input type="radio" name="radio" checked="checked">
    <span class="label-visible">
      <span class="fake-radiobutton"></span>
      Radio
    </span>
  </label>

  <label class="checkbox_group">
    <input type="checkbox" name="check">
    <span class="label-visible">
      <span class="fake-checkbox"></span>
      Checkbox
    </span>
  </label>

  <button class="button_next">следующий вопрос</button>
  <button class="button_prev">назад</button>

  <button class="plus_button">+</button>
  <button class="plus_button delete">-</button>

</div>
