<section class="content_block">
  <h2>Выберите один из вариантов, <br>
    чтобы узнать стоимость сайта</h2>
  <div class="main_page__buttons">
    <div class="main_page__button_item common_text" (click)='changePage(1)'>
      Сайт с нуля
    </div>
    <div class="main_page__button_item" (click)='changePage(2)'>
      <span class="common_text">Редизайн</span>
    </div>
    <div class="main_page__button_item" (click)='changePage(3)'>
      <span class="common_text">Доп. работы</span>
    </div>
  </div>
</section>
